<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6 text-center">My Chats</h1>
    
    <% if @chats.any? %>
        <ul class="space-y-4">
        <% @chats.each do |chat| %>
            <% other_user = chat.sender == current_user ? chat.receiver : chat.sender %>
            <li class="border p-4 rounded-lg hover:shadow-lg transition duration-150">
                <%= link_to chat_path(chat), class: "text-blue-600 hover:underline text-xl font-semibold" do %>
                    Chat with <%= other_user.display_name %>
                <% end %>
                <p class="text-gray-600 mt-2 italic" data-controller="local-time">
                    <% last_message = chat.messages.order(created_at: :desc).first %>
                    <% if last_message %>
                        Last message on <span data-local-time-target="time" data-utc="<%= last_message.created_at.utc.iso8601 %>"></span>
                    <% else %>
                        No messages yet
                    <% end %>
                </p>
            </li>
        <% end %>
        </ul>
    <% else %>
        <p class="text-center text-gray-600">You have no chats yet.</p>
    <% end %>
    <div class="text-center mt-12">
        <%= link_to "Start a New Chat", new_chat_path, class: "mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" %>
    </div>
</div>