/*
 *= require_self
 *= require header
 *= require chats
 *= require chats-page
 *= require conversation-page
 *= require auth
 *= require signup-page
 *= require login-page
 */
.main-title {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
    color: #222;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 16px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}