<div class="header-bar">
  <div class="header-container">
    <h1 class="header-title">Instant Messaging POC</h1>
    <% if user_signed_in? %>
      <div class="header-user">
        <span class="header-email"><%= current_user.email %></span>
        <%= button_to destroy_user_session_path, method: :delete, class: "logout-btn", form: { class: "logout-form" } do %>
          <span class="material-symbols-rounded">logout</span>
        <% end %>
      </div>
    <% else %>
      <div class="header-auth">
        <%= link_to 'Login', new_user_session_path, class: "login-link" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "signup-link" %>
      </div>
    <% end %>
  </div>
</div>
